html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background: #f9f6ee;
  color: #0e1111;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

main {
  background-image: radial-gradient(#3772ff50 1px, transparent 0);
  background-size: 40px 40px;
  background-attachment: fixed;
  min-height: 100vh;
}

main section {
  margin-left: 4rem;
  position: relative;
  margin-right: 4rem;
}

#logo-container {
  display: flex;
  justify-content: flex-end;
}

svg#logo {
  margin-top: 10rem;
  stroke: #0e1111;

  opacity: 0;
  animation:
    fadeIn ease 0.7s 1 forwards,
    float 15s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0%, 0%) rotate(-3deg);
  }
  25% {
    transform: translate(2%, 6%) rotate(2deg);
  }
  50% {
    transform: translate(4%, 2%) rotate(3deg);
  }
  75% {
    transform: translate(0%, 6%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-3deg);
  }
}

h1 {
  font-size: 6rem;
  margin-top: 2rem;
  text-align: right;
  font-family: "Space Grotesk", sans-serif;

  opacity: 0;
  animation: fadeIn ease 0.7s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#morph {
  filter: url(#threshold) blur(0.6px);
  user-select: none;
}

#morph1,
#morph2 {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 1440px;
}

#header {
  display: flex;
}

#header div {
  width: 50%;
}

#header p {
  opacity: 0;
  animation: fadeIn ease 0.7s;
  animation-delay: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  font-size: 2rem;
}

.button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-style: solid;
  background: #0000;
  border: 3px solid #0e1111;

  min-width: 12rem;
  height: 5rem;
  padding: 0;
  margin: 1rem;
  margin-left: 0;

  font-size: 1.5rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#header .button {
  opacity: 0;
  animation: fadeIn ease 0.7s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button:focus,
.button--hover {
  outline: none;
}

.button__text,
.button__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.active {
  cursor: pointer;
}

.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
  }
  .cursor__inner {
    fill: #3772ff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  #header {
    flex-direction: column-reverse;
  }

  #header div {
    width: 100%;
  }

  #header div:first-child {
    margin-top: 2rem;
  }
}

@media (max-width: 765px) {
  h1 {
    font-size: 3rem;
  }

  #header div:first-child {
    margin-top: 8rem;
  }

  #morph1,
  #morph2 {
    display: inline;
    max-width: 70vw;
  }
}
